@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('https://images6.alphacoders.com/130/1305167.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Cormorant Garamond', serif;
}

@import url('https://fonts.cdnfonts.com/css/harry-potter');

.font-harry {
  font-family: 'Harry Potter', sans-serif;
}